<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> este cambio no se puede grabar:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ruc %>
    <%= f.text_field :ruc %>
  </div>

  <div class="field">
    <%= f.label :razon %>
    <%= f.text_area :razon %>
  </div>

  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_area :direccion %>
  </div>

  <div class="field">
    <%= f.label :origen %>
  <%= f.select :origen, [['Mercaderia',1],['Activo fijo',2],['Otros activos',3],['Gastos',4],['Otros gastos',5]]  %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
  <%= f.select :tipo, [['cliente',1],['proveedor',2]] %>
  </div>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_area :obs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
