<p id="notice"><%= notice %></p>

<p>
  <strong>Ruc:</strong>
  <%= @client.ruc %>
</p>

<p>
  <strong>Razon:</strong>
  <%= @client.razon %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @client.origen %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @client.tipo %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @client.obs %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
