<p id="notice"><%= notice %></p>
<p>
  <strong>Periodo:</strong>
  <%= @item.mmes %>
  <%= select_tag @item.empresa, options_for_select([['Industrias', 1], ['Confecciones', 2]]), {:disabled => true} %>
  <%= select_tag @item.origen, options_for_select([['Compras', 1], ['Ventas', 2]]), {:disabled => true} %>
  <strong>Moneda:</strong>
  <%= select_tag @item.moneda, options_for_select([['Soles', 1], ['Dolares', 2]]), {:disabled => true} %>

  <strong>Tc:</strong>
  <%= @item.tc %>

  </p>


<p>
  <strong>  Fecha: </strong>
  <%= @item.pfecha %>

  <strong>  Factura:</strong>
  <%= @item.serie %>-<%= @item.nfactu %>
  <strong>  Razon:</strong>
  <%= @item.client.razon %>

</p>





<div class="field">
  <h3> DETALLES</h3>


<table>
  <thead>
    <tr>

      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.details.each do |detail| %>
      <tr>
        <td><%= detail.descripcion %></td>
        <td><%= detail.cantidad %></td>
        <td><%= detail.precio %></td>
        <td><%= detail.monto %></td>
        <td><%= link_to 'Edit',edit_item_detail_path(@item,detail) %></td>
        <td><%= link_to 'Destroy', item_detail_path(@item,detail), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <p>
  </p>
  <h3><%= link_to '<Nuevo Detalle>', new_item_detail_path(@item) %> </h3>
</div>
<p>
  <strong>Subtotal:</strong>
  <%= @item.subtotal %>
  </p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
