<p id="notice"><%= notice %></p>
<p>
  <strong>Periodo:</strong>
  <%= @item.mmes.strftime("%b-%Y") %>
  <strong>Empresa:</strong>
  <% if @item.empresa==1 %>
  Industrias
  <% end %>
  <% if @item.empresa==2 %>
  Confecciones
  <% end %>
  <strong>Origen:</strong>

  <% if @item.origen==1 %>
  Compras
  <% end %>
  <% if @item.origen==2 %>
  Ventas
  <% end %>


  <strong>Moneda:</strong>
  <% if @item.moneda==1 %>
  Soles
  <% end %>
  <% if @item.moneda==2 %>
  Dolares
  <% end %>



  <strong>Tc:</strong>
  <%= @item.tc %>

  </p>


<p>
  <strong>  Fecha: </strong>
  <%= @item.pfecha %>

  <strong>  Factura:</strong>
  <%= @item.serie %>-<%= @item.nfactu %>
  <strong>  Razon:</strong>
  <%= @item.client.razon %>

</p>





<div class="field">
  <h3> DETALLES</h3>


<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.details.each do |detail| %>
      <tr>
        <td><%= Product.find_by_id(detail.product_id).nombre if detail.product_id %></td>
        <td><%= detail.descripcion %></td>
        <td><%= detail.cantidad %></td>
        <td><%= detail.precio %></td>
        <td><%= detail.monto %></td>
        <td><%= link_to 'Edit',edit_item_detail_path(@item,detail) %></td>
        <td><%= link_to 'Destroy', item_detail_path(@item,detail), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <p>
  </p>
  <h3><%= link_to '<Nuevo Detalle>', new_item_detail_path(@item) %> </h3>
</div>
<p>
  <strong>Subtotal</strong>
  <%= @item.subtotal %>
  <strong>Igv</strong>
  <%= @item.subtotal*0.18 %>
  <strong>Total</strong>
  <%= @item.subtotal*1.18 %>


  </p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
