<% if user_signed_in? %>
<% if current_user.admin? %>
<h2>PARAMETROS DEL PERIODO  </h2>

<% if not $vorigen.nil? %>

       <h3>    <%= select_tag $vempresa, options_for_select([['Industrias', 1], ['Confecciones', 2]]), {:disabled => true} %>
               <%= select_tag $vorigen, options_for_select([['compras', 1], ['ventas', 2]] ), {:disabled => true} %>
                 Periodo =  <%=$vmes %>
                                               </h3>



     <% else %>
      <h3>cargar parametros </h3>

<% end %>


    <%= form_tag :action =>'form' do %>
      <p>Empresa:
         <%= select_tag "empresa_id", options_for_select([['Industrias', 1], ['Confecciones', 2]], $vempresa) %><p/>

      <p>Origen:

         <%= select_tag "origen_de", options_for_select([['compras', 1], ['ventas', 2]], $vorigen) %><p/>
      <p>Mes:
        <%= select_date $vmes, :prefix=> :mes_de, discard_day:true %><p/>
    <%= submit_tag 'Cargar' %>
  <% end %>


<% end %>
<% end %>
