<%= form_for(parameter) do |f| %>
  <% if parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empresa %>
   <%= f.select :empresa, [['Industrias',1],['Confecciones',2]]%>
  </div>

  <div class="field">
    <%= f.label :origen %>
   <%= f.select :origen, [['compras',1],['ventas',2]] %>
  </div>

  <div class="field">
    <%= f.label :mes %>
    <%= f.date_select :mes, discard_day:true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
