<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @parameter.empresa %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @parameter.origen %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @parameter.mes %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
